.line {
  width: 170px;
  height: 5px;
  background-color: #ebc154;
  margin: 0 auto;
}
.tour img {
  width: 150px;
  height: 150px;
}
.fa-long-arrow-right {
  cursor: pointer;
}

*,
html,
body {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

.card-img {
  background: linear-gradient(rgba(7, 7, 7, 0.507), rgba(7, 7, 7, 0.514)),
    url("https://caleb-007.github.io/tour-page/img/b2.jpg");
  background-size: cover;
  background-position: center;
}
header {
  position: absolute;
  top: 0;
  width: 100%;
}
nav {
  width: 100%;
}
